$grey: #cccccc;
$blue: #0068ff;
$darkgrey: #080808;

%main-font {
  font-family: "RR", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 26px;
  font-style: normal;
  color: black;
}

$large-desktop: 1440px;
$tablet: 768px;
$small-mobile: 320px;
